  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&display=swap');
  @font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Medium.ttf);
  }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  Poppins;
}

.header {
  position: relative;
  height: 10vh;
  font-size: 2.5vh;
  background-color: #e6b800;
  border-bottom:5px solid #00264d;;
  padding-left: 7vw;
  overflow: hidden;
  
}

.logo {
  float: left;
  background-color: #00264d;
  border-radius: 50px;
  padding: 3px 15px 0 10px;
  margin: 2px 0;
}

.logopic {
  width: 10vh;
  height: 7vh;

}

.text_logo {
  clear:left;
  display: inline-block;
  font-size: 2em;
  padding: 5px;
  position: relative;
  top: -10px;
}


.logo:hover {
  opacity: 0.7;

}

.menu {
  clear: both;
  position: absolute;
  right: 0px;
  margin-right: 40px;
}

ul li {
	list-style-type: none;
	display: inline-flex;  
	text-align: center;
  margin: 1vh 0;
}

.menu a {
	text-decoration: none;
	color:  #00264d;
  padding: 10px 25px;
  border-radius: 30px;
}

.menu a:hover {
  color: #e6b800;
  background-color:  #00264d;
  font-weight: bold;

}

.form_hawb {
  border: 2px solid #00264d;
  max-width: 700px;
  text-align: center;
  margin: 20px auto;
  border-radius: 20px;
  padding: 20px 0;
  box-shadow: 0px 0px 10px #7e7e7e;
}

.form_hawb h1 {
  font-size: larger;
  line-height: 40px;
  background-color: #e6b800;
  margin: 20px 0;
}
.input_a {
  margin: 4px;
  padding: 3px 10px;
}

.input_a:focus {
  outline: 2px solid #ccc;
}

.firstpart label {
  display: inline-block;
  width: 200px;
  text-align: left;
}

.ship_deatail h1{
  color: #e6b800;
  background-color: #00264d;
  margin: 20px;
}

input[type="text"], [type="date"]{
  min-width: 300px;

}

.pri_pol {
  margin: 20px 0 0;
}
.btn {
  font-weight:600;
  font-size: 15px;
  width:40%;
  padding: 10px 20px;
  background-color: #e6b800;
  color: #00264d;
  border: 2px solid #00264d;
  border-radius: 10px;
  margin: 20px;


}

.btn:hover {
  background-color: #facc15;
}

